# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
wheels/
tsk/
*.egg-info

# Virtual environments
.venv

# Logs
logs/

# Storage contents (keep folder structure, ignore contents)
storage/images/**/*
storage/databases/*
storage/temp/*
storage/logs/*
!storage/images/.gitkeep
!storage/images/*/.gitkeep
!storage/databases/.gitkeep
!storage/temp/.gitkeep
!storage/logs/.gitkeep

# Environment files
.env

#Coverage
.coverage

# React
node_modules/

# MAC
.DS_Store
